.taskContainer {
  height: 250px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}
.containerCard {
  width: 400px;
  border-radius: 0.75rem;
  background-size: cover;
  background-color: #e3b23c;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}
.containerCard > .row {
  height: 100%;
  color: #211629cc;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr 80px;
  flex-wrap: nowrap;
}

.containerCard > .row > .icon {
  grid-area: 3/1;
  background-color: #211629cc;
  color: #e3b23c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  margin: 15px;
}

.containerCard > .row > .desc {
  grid-column: 2;
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 300px;
  opacity: 1;
  gap: 0.5rem;
}
.dateName {
  align-self: center;
  justify-self: center;
}
.desc > .resoCon > p {
  margin: 0;
  height: 100%;
  color: #211629cc;
}

.resoCon {
  grid-column: 2;
  grid-row: 1 /3;
  height: 100%;
  width: 90%;
  padding: 1rem;
}

input {
  display: none;
}
label {
  width: 500px;
}
.dateName {
  color: #211629cc;
}
